body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #5a2d2d;
    padding: 20px;
    text-align: center;
}

.hero {
    background: #1c1c1c;
    padding: 40px 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: green;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

.products {
    padding: 30px 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #1f1f1f;
    padding: 15px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    background: #333;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}
.price {
    color: #9cff9c;
    font-weight: bold;
    margin-top: 8px;
}